@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import './register.css';
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(226, 250, 250);
    
}
header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: rgb(158, 84, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 3%;
    box-shadow: 0px 5px 10px;
}
.background{
    position: fixed;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
}

.background img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 50%;
    min-height: 50%;
    
}
.logotip__img{
    height: 60px;
    width: 60px;
    margin: 10px 5px 10px 0px;
}
.logotip__content{
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.logotip__text{
    color: black;
    font-size: 35px;
    font-family:cursive;
}
.logotip__content:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.navigation ul li{
    position: relative;
    float: left;
}
.navigation ul li a{
    padding: 15px;
    color: #000;
    font-size: 20px;
    display: block;
    transition: ease-in-out 0.3s;
}
.vhod-regist a:hover{
    border-radius: 0px 0px 100px 0px;
}
.vhod-regist{
    padding: 0px 10px 0px 0px ;
}
.navigation ul li a:hover{ 
    background-color: #000;
    color: aliceblue;
    transition: ease-in-out 0.3s;
}
.hidden_menu{
    position: absolute;
    left: 0;
    width: 150px;
    background-color: rgb(158, 84, 255);
    display: none;
}
.vhod-regist a{
    border-radius: 0px 0px 100px 0px;
}
.hidden_menu_text{
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
}
nav ul li:hover > ul{
    display: initial;
    transition: ease-in-out 0.3s;
}
.content__hidden{
    display: none;
}
.main__container{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 150px 0px 0px 0px ;
}
.main__exit{
    position: absolute;
    top: 11%;
    background-color: rgba(172, 162, 162, 0.685);
    border-radius: 50px;
    padding: 5px 5px 0px 5px;
    transition: ease-in-out 0.2s;
}
.main__exit:hover{ 
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
}
.right{
    transition: ease-in-out 0.2s;
}
.right:hover{
    transform: scale(1.05);
}
.levo{
    transition: ease-in-out 0.2s;
}
.levo:hover{
    transform: scale(1.05);
}
.pointerevents{
    pointer-events: none;
    filter: blur(5px);
    overflow: hidden;
}
.as{
    display: flex;
    align-items: flex-start;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    border-image-slice: 1;
    box-shadow:0px 0px 8px 5px rgba(0, 119, 255, 0.329) ;
    padding: 50px 0px 0px 50px;
    margin: 50px 0px 0px 50px; ;
    font-size: 50px;
    
}
.section__section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0px 100px 0px ;
}
.section{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 500px;
    background-color: #77777754;
    border-radius: 60px;
}
.content_box{
    background-color: rgba(145, 145, 145, 0.555);
    height: 500px;
    width: 400px;
   
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.185);
    transition: all 0.5s ease;
}
.content_box:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.6);
}

.player-img{
    width: 300px;
    height: 300px;
    position: relative;
    top: -50px;
    left: 50px;
}

.player-img img{
    object-fit: cover;
    border-radius: 20px;
    height: 0;
    width: 0;
    opacity: 0;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

.player-img:hover img{
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
}

.player-img img.active{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    opacity: 1;
}

h2{
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 0;
}

h3{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 0;
}

.player-progress{
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px 35px;
    height: 6px;
    width: 90%;
}

.progress{
    background-color: #212121;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.music-duration{
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
}

.player-controls{
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;
}

.fa-solid{
    font-size: 30px;
    color: #666;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.fa-solid:hover{
    filter: brightness(40%);
}

.play-button{
    font-size: 44px;
    position: relative;
    top: 3px;
}
.footer{ 
    display: flex;
    justify-content: end;
    align-items: center;
    height: 40px;
    background-color: rgba(70, 70, 70, 0.856);
}





@media (max-width:1650px) and (min-width:768px){  
    .navigation{
        z-index: 1;
    }
    .player-img{
        position: relative;
        top: -20px;
    }
    .section__section{
        position: relative;
        top:30px;
        z-index: 0;
    }
    }





@media (max-width:768px){
        body{
            background-color: rgb(226, 250, 250);
            
        }
        header{
            position: fixed;
            top:0;
            left: 0;
            right: 0;
            background-color: rgb(158, 84, 255);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 0 3%;
            box-shadow: 0px 5px 10px;
        }
        .background{
            position: fixed;
            width: 200%;
            height: 200%;
            top: -50%;
            left: -50%;
            z-index: -1;
        }
        
        .background img{
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            min-width: 50%;
            min-height: 50%;
            filter: blur(15px);
            -webkit-filter: blur(50px);
            transform: scale(1.1);
        }
        .navigation{
            z-index: 1;
        }
        .logotip__img{
            height: 60px;
            width: 60px;
            margin: 10px 5px 10px 0px;
        }
        .logotip__content{
            display: flex;
            align-items: center;
            transition: 0.5s;
        }
        .logotip__text{
            color: black;
            font-size: 35px;
            font-family:cursive;
        }
        .logotip__content:hover{
            transform: scale(1.05);
            transition: 0.5s;
        }
        .navigation ul li{
            position: relative;
            float: left;
        }
        .navigation ul li a{
            padding: 15px;
            color: #000;
            font-size: 20px;
            display: block;
            transition: ease-in-out 0.3s;
        }
        .vhod-regist a:hover{
            border-radius: 0px 0px 100px 0px;
        }
        .vhod-regist{
            padding: 0px 10px 0px 0px ;
        }
        .vhod-regist a{
            border-radius: 0px 0px 100px 0px;
        }
        .navigation ul li a:hover{ 
            background-color: #000;
            color: aliceblue;
            transition: ease-in-out 0.3s;
        }
        .hidden_menu{
            position: absolute;
            left: 0;
            width: 150px;
            background-color: rgb(158, 84, 255);
            display: none;
        }
        .hidden_menu_text{
            width: 100%;
            border: 1px solid rgba(0,0,0,.1);
        }
        nav ul li:hover > ul{
            display: initial;
            transition: ease-in-out 0.3s;
        }
        .content__hidden{
            display: none;
        }
        .main__container{ 
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 150px 0px 0px 0px ;
        }
        .main__exit{
            position: absolute;
            top: 11%;
            background-color: rgba(172, 162, 162, 0.685);
            border-radius: 50px;
            padding: 5px 5px 0px 5px;
            transition: ease-in-out 0.2s;
        }
        .main__exit:hover{ 
            transform: scale(1.05);
            transition: ease-in-out 0.2s;
        }
        .right{
            transition: ease-in-out 0.2s;
        }
        .right:hover{
            transform: scale(1.05);
        }
        .levo{
            transition: ease-in-out 0.2s;
        }
        .levo:hover{
            transform: scale(1.05);
        }
        .pointerevents{
            pointer-events: none;
            filter: blur(5px);
            overflow: hidden;
        }
        .as{
            display: flex;
            align-items: flex-start;
            font-family: 'Ubuntu', sans-serif;
            background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: absolute;
            border: 3px solid transparent;
            border-image: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
            border-image-slice: 1;
            box-shadow:0px 0px 8px 5px rgba(0, 119, 255, 0.329) ;
            padding: 50px 0px 0px 50px;
            margin: 50px 0px 0px 50px; ;
            font-size: 50px;
            
        }
        .section__section{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 200px 0px 100px 0px ;
            position: relative;
            top:30px;
            z-index: 0;
        }
        .section{
            margin: 0;
            font-family: 'Ubuntu', sans-serif;
            font-size: 12px;
            min-height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 700px;
            height: 500px;
            background-color: #77777754;
            border-radius: 60px;
        }
        .content_box{
            background-color: rgba(145, 145, 145, 0.555);
            height: 500px;
            width: 400px;
           
            border-radius: 20px;
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.185);
            transition: all 0.5s ease;
        }
        .content_box:hover{
            box-shadow: 0 15px 30px rgba(0,0,0,0.6);
        }
        
        .player-img{
            width: 300px;
            height: 300px;
            position: relative;
            top: -20px;
            left: 50px;
        }
        
        .player-img img{
            object-fit: cover;
            border-radius: 20px;
            height: 0;
            width: 0;
            opacity: 0;
            box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
        }
        
        .player-img:hover img{
            box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
        }
        
        .player-img img.active{
            width: 100%;
            height: 100%;
            transition: all 0.5s;
            opacity: 1;
        }
        
        h2{
            font-size: 25px;
            text-align: center;
            font-weight: 500;
            margin: 10px 0 0;
        }
        
        h3{
            font-size: 18px;
            text-align: center;
            font-weight: 500;
            margin: 10px 0 0;
        }
        
        .player-progress{
            background-color: #fff;
            border-radius: 5px;
            cursor: pointer;
            margin: 40px 20px 35px;
            height: 6px;
            width: 90%;
        }
        
        .progress{
            background-color: #212121;
            border-radius: 5px;
            height: 100%;
            width: 0%;
            transition: width 0.1s linear;
        }
        
        .music-duration{
            position: relative;
            top: -25px;
            display: flex;
            justify-content: space-between;
        }
        
        .player-controls{
            position: relative;
            top: -15px;
            left: 120px;
            width: 200px;
        }
        
        .fa-solid{
            font-size: 30px;
            color: #666;
            margin-right: 30px;
            cursor: pointer;
            user-select: none;
            transition: all 0.3s ease;
        }
        
        .fa-solid:hover{
            filter: brightness(40%);
        }
        
        .play-button{
            font-size: 44px;
            position: relative;
            top: 3px;
        }
        .footer{ 
            display: flex;
            justify-content: end;
            align-items: center;
            height: 40px;
            background-color: rgba(70, 70, 70, 0.856);
        }
        }